@charset "utf-8";
html {
  background-color: rgb(27, 27, 27) !important;
  color: rgb(165, 165, 156) !important;
}
main {
  background-color: rgb(27, 27, 27) !important;
  padding-top: 70px;
  padding-bottom: 200px;
}
body {
  background: #eee;
  color: white;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  min-width: 1800px;
  background-color: rgb(27, 27, 27);
}
.swiper-wrapper {
  padding-bottom: 30px;
}
.swiper-slide > a {
  text-decoration-line: none;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.slideimges {
  display: block;
  width: 205px !important;
  height: 300px !important;
  object-fit: cover;
  padding-top: 9px;
}
.sw_1 {
  width: 1300px;
  height: 300px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 40px;
}

.main_title {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 18px;
  padding-left: 3px;
}
.title {
  font-size: 10px;
  color: white;
  background-color: black;
  text-decoration-line: none;
  font-weight: 800;
  padding: 7px 0;
  width: 200px !important;
}

.swiper-button-next {
  color: white !important;
}
.swiper-button-prev {
  color: white !important;
}
.swiper-pagination > span {
  background-color: white !important;
}
