@charset "utf-8";
body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  min-width: 1800px;
  background-color: rgb(27, 27, 27);
}

button {
  cursor: pointer;
}

.wrap {
  overflow: hidden;
  min-width: 1400px;
  background-color: rgb(27, 27, 27);
}

/* -----------------메인--------------------- */

.nowtb {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.nowtext {
  color: white;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  width: 250px;
  text-align: center;
  border-bottom: 1px solid rgb(59, 59, 59);
}

.playing-setup {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.playing-pull {
  width: 1100px;
  margin: 0 auto;
}

.top-box {
  color: rgba(255, 255, 255);
  font-weight: 540;
  font-size: 15px;
}

.top-box > div:nth-child(1) {
  margin-top: 10px;
  margin-bottom: 8px;
}

.play-datevotebox {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: rgb(189, 189, 189);
}

.play-datevotebox > div:nth-child(2) {
  color: white;
}

.up-line {
  border-bottom: 3px solid rgb(0, 107, 85);
}

.top1-4 img {
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 230px;
  height: 330px;
}

/* .top-aimg:hover .tt66 {
  display: block;
  z-index: 120;
} */
.top1-4 img:nth-child(1):hover {
  opacity: 0.3;
}

.top1-4 {
  position: relative;
}

.more {
  width: 1100px;
  height: 35px;
  display: flex;
  margin: 40px auto;
  justify-content: center;
  align-items: center;
  color: rgb(148, 148, 148);
  border: 1px solid rgb(72, 72, 72);
  background-color: RGB(27, 27, 27);
  font-size: 14px;
  overflow: hidden;
}

.hidesetup {
  display: none;
}
