@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  min-width: 1800px;
  background-color: rgb(27, 27, 27);
}
.wrap {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}
main {
  margin: 0 auto;
  padding: 10px;
  padding-top: 150px;
  width: 100%;
  height: 1200px;
  background-color: rgb(27, 27, 27);
}

.btn_box {
  width: 200px;
  height: 100px;
  margin-left: 20px;
  margin-bottom: 30px;
  display: inline-block;
  background-color: rgb(27, 27, 27);
}

#play_btn {
  color: white;
}

#play_btn:hover {
  cursor: pointer;
  color: rgb(102, 95, 95);
}

#mute_btn {
  color: white;
}

#mute_btn:hover {
  cursor: pointer;
  color: rgb(102, 95, 95);
}

.video_btn {
  display: inline-block;
  margin-left: 30px;
  font-size: 30px;
}

.video-background-controls {
  display: inline-block;
  margin-left: 30px;
  top: 950px !important;
  right: -150px !important;
}

.play-toggle,
.mute-toggle {
  width: 50px;
  height: 50px;
  /* margin-left: 150px !important; */
  margin: 0 0 15px 15px;
  font-size: 40px;
  background-color: rgb(27, 27, 27) !important;
  border: none;
  color: white;
}

.play-toggle:hover,
.mute-toggle:hover {
  cursor: pointer;
  color: rgb(102, 95, 95);
}

a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.btn_detail {
  width: 300px;
  height: 70px;
  line-height: 70px;
  background-color: rgb(27, 27, 27);
  font-weight: bold;
  text-align: left;
}

.btn_detail > a:hover {
  cursor: pointer;
  color: rgb(102, 95, 95);
}

.video_container {
  position: fixed !important;
  border-radius: 25px;
}

.animation_box {
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 0;
  padding-top: 30px;
  width: 1400px;
  height: 1100px;
}

.animation_box iframe,
.animation_box object,
.animation_box embed {
  position: absolute;
  top: 0;
  left: 0;
}

#video {
  opacity: 0.5;
  overflow: hidden;
}

.swiper {
  width: 1200px;
  background: none;
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px;
  height: 400px;
  text-align: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

#slide_wrap {
  width: 800px !important;
}

.slide_btn {
  color: white;
}

.title {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.title > span {
  margin: 30px !important;
  display: inline-block;
  font-size: 28px;
}

.map_box {
  width: 1400px;
  margin: 0 auto;
}
