@charset "utf-8";

/* ν—¤λ“ */

.wrap {
  margin: 0 auto;
  padding: 0;
}

header {
  margin-bottom: 550px;
  padding: 0;
  width: 100%;
  height: 150px;
  position: fixed;
  z-index: 999;
  background-color: rgb(27, 27, 27);
  text-align: left;
}

.head {
  margin: 0 !important;
  padding: 0 !important;
  min-width: 1200px;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
}

.menu-ul {
  list-style: none;
  width: 100%;
}

.menu {
  width: 800px;
  margin-left: 40px;
}

.menu-ul > li {
  display: inline-block;
  list-style: none;
  margin: 15px;
}

.menu-ul > li > a {
  text-decoration: none;
  color: white;
  padding: 15px;
  font-size: 28px;
  font-weight: bold;
  background: url(https://static.nid.naver.com/images/join/pc/bu_bar_2x.gif)
    left 50% no-repeat;
}

.menu-ul li a:hover {
  color: #d9d9d9;
}

/* ν‘Έν„° */

footer {
  margin: 0 auto;
  width: 100%;
  background-color: rgb(27, 27, 27);
  border-top: solid 0.5px rgba(190, 189, 189, 0.705);
}

.footer-wr {
  margin: 0 auto;
  width: 100%;
  display: flex;
  padding-top: 55px;
  padding-bottom: 35px;
}

.footer-ulwrap {
  margin: 0 auto;
  width: 1100px;
}
.footer-ul {
  margin: 0 auto;
  width: 1100px;
}
.footer-li {
  list-style: none;
  font-size: 12px;
  color: rgb(165, 165, 156);
}
.footer-img {
  float: right;
}

.footer-span {
  padding: 0 10px;
  border-right: 1px solid rgba(209, 209, 209, 0.801);
}

.footer-p {
  margin: 0 auto;
  padding: 3px 0;
}

.footer-divimg {
  display: flex;
}
